/* ==========================================================================
   Components
   ========================================================================== */

.c-commponent-1 {
	font-size: 14px;
}

.c-commponent-1 {
	@media (max-width: 1366px) {
		font-size: 12px;
	}
}

/*========================================================================== */

.c-commponent-2 {
	height: 100px;
}

.c-commponent-2 {
	@media (max-width: 1366px) {
		height: 80px;
	}
}
/*========================================================================== */

.c-form {
	font-size: 16px;
	padding: 30px 0;

	&__label {
		text-align: right;
		align-self: center;
	}
	&__button {
		cursor: pointer;
	}
}

@media(max-width: 470px) {
	.c-form {

		&__wrapper {
			flex-direction: column;
			justify-content: center;
		}
		&__label {
			max-width: 80%;
			text-align: center;
		}
		&__input {
			max-width: 80%;
			align-self: center;
			margin: 20px 0;
		}
		&__button {
			max-width: 150px;
			align-self: center;
		}
	}
}

/*========================================================================== */

.c-table {
	font-size: 16px;

	thead,tbody,tr,td,th{
		display: block;
	}
	thead {

		tr {
			display: flex;
			justify-content: space-between;
			th {
				float: left;
				width: 25%;
				font-size: 14px;
				text-align: center;
			}
		}
	}
	tbody {
		max-height: 230px;
		height: auto;
		overflow-y: auto;
		

		tr {
			display: flex;
			justify-content: space-between;

			&.dynamic {
				display: flex !important;
			}
			td {
				float: left;
				width: 25%;
				text-transform: capitalize;
				text-align: center;
				line-height: 6em;
				img{
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		
	}
}

@media(max-width: 390px) {
	.c-table {
		font-size: 10px;

		thead {

			tr {

				th {
					font-size: 10px;
				}
			}
		}
		tbody {
			max-height: 160px;

			tr {

				td {
					padding: 2px;
				}
			}
		}
	}
}
/*========================================================================== */

.c-poke {
	font-size: 16px;
	/* padding: 5px; */

	&__photo {
		padding-top: 30px;
		
		img {
			margin-left: auto;
			margin-right: auto;
		}
		figcaption {
			text-align: center;
			font-size: 18px;
			font-weight: bold;
		}
	}
	&__name {
		text-align: center;
		text-transform: uppercase;
		padding: 10px 0;
		margin-left: 15px;
		background-color: black;
		color: white;
		max-width: calc(100% - 15px);
	}
	&__data {
		text-transform: capitalize;
		display: inline-block;
		width: calc(100%/3.1);
		padding-bottom: 5px;
		font-weight: bold;

		&--type {
			display: block;
			margin-bottom: 10px;
			padding-top: 10px;
		}
		span {
			font-weight: normal;
		}
	}
	&__desc {
		padding-right: 20px;
		padding-bottom: 20px;
		text-align: justify; 
	}
}
@media (max-width: 490px) {
	.c-poke {

		&__data {
			width: calc(100%/3);
		}
	}
}
@media (max-width: 453px) {
	.c-poke {

		&__photo {
			padding-right: 5px;
		}
		&__info {
			padding-left: 5px;
		}
		&__data {
			width: 100%;

			&--speed {
				display: block;
			}
			&--defense {
				display: block;
			}
			&--attack {
				display: block;
			}
		}
		&__desc {

			p {
				width: 90vw;
				margin-left: -32vw;	
			}
		}
	}
}