/* ==========================================================================
   Components
   ========================================================================== */

.c-commponent-1 {
	font-size: 14px;
}

.c-commponent-1 {
	@media (max-width: 1366px) {
		font-size: 12px;
	}
}

/*========================================================================== */

.c-commponent-2 {
	height: 100px;
}

.c-commponent-2 {
	@media (max-width: 1366px) {
		height: 80px;
	}
}
/*========================================================================== */

.c-form {
	font-size: 16px;
	padding: 30px 0;

	&__label {
		text-align: right;
		align-self: center;
	}
	&__button {
		cursor: pointer;
	}
}

/*========================================================================== */

.c-table {
	

	thead,tbody,tr,td,th{
		display: block;
	}
	thead {

		tr {
			display: flex;
			justify-content: space-between;
			th {
				float: left;
				width: 25%;
			}
		}
	}
	tbody {
		max-height: 230px;
		height: auto;
		overflow-y: auto;
		

		tr {
			display: flex;
			justify-content: space-between;

			&.dynamic {
				display: flex !important;
			}
			td {
				float: left;
				width: 25%;
			}
		}
		
	}
}
