doctype html
html(lang='pl')
	
	//- head
	include includes/global/head.pug

	body
		.l-app
			include includes/layout/header.pug

			include includes/layout/hero.pug
			include includes/layout/description.pug

			include includes/layout/footer.pug
			
	//- foot
	include includes/global/foot.pug