/* ==========================================================================
   Main
   ========================================================================== */

.l-app {
	width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center
}

/*========================================================================== */


.l-hero {
    display: block;

    &__content {
        padding: 50px 0 0 0;
    }
    &__title {
        text-align: center;
        font-size: 36px;
    }
    &__result {
        padding: 0 0 50px 0;
        display: none;
    }
    /* &__wrapper {
        max-height: 270px;
        height: auto;
        overflow-y: scroll;
    } */
}
.l-description {
    display: none;
    padding: 0 0 50px 0;

    &__exit {
        justify-content: flex-end;

        button {
            font-size: 35px;
            width: 40px;
            padding: 5px;
        }
    }
    &__title {
        text-align: center;
        font-size: 20px;
        padding-bottom: 15px;
    }
}
