/* ==========================================================================
   Main
   ========================================================================== */

.l-app {
	width: 100vw;
	overflow: hidden;
}

/*========================================================================== */


.l-hero {
    display: block;

    &__content {
        padding: 50px 0 0 0;
    }
    &__title {
        text-align: center;
        font-size: 36px;
    }
    &__result {

    }
    &__wrapper {
        max-height: 270px;
        height: auto;
        overflow-y: scroll;
    }
}
