section.l-description.container-fluid
    .container 
        .row.l-description__exit
            button(type="button", aria-label="Close").close
                span(aria-hidden="true") &times;
        .row.l-description__wrapper
            .col-2.col-md-1
            .col-8.col-md-10.bg-info
                h2.l-description__title Pokemon's info
                .l-description__table.c-poke.row
                    .col-3.c-poke__photo 
                        img.js-img(src="", alt="")
                        p.js-point 
                    .col-9.c-poke__info
                        .row
                            .col-12
                                p.js-name
                        .row
                            .col-12.c-poke__data
                                p type: #[span.js-type]
                                p speed: #[span.js-speed]
                                p defense: #[span.js-defense]
                                p attack: #[span.js-attack]
                        .row
                            .col-12.c-poke__desc
                                p.js-description trolololo dkcjdisuf efrj dfuhed fcas duausfhudif jdancajkd
            .col-2.col-md-1
