header.l-header.container-fluid
    .row
        .col-lg-3.col-sm-2.col-2
        .l-header__logo.col-lg-6.col-sm-8.col-8: img(src="../img/poke-logo.png", alt="Pokemons logo")
        .col-lg-3.col-sm-2.col-2