section.l-hero.container-fluid
    .l-hero__content.container
        h1.l-hero__title.row.justify-content-center Search for your favourite pokemon
        .row
            .col-md-2.col-sm-1
            form(action="").c-form.col-md-8.col-sm-10.align-items-center
                .c-form__wrapper.form-row
                    label.c-form__label.col-3(for="pokeName") Search for:
                    input.c-form__input.col-6.form-control(type="text", id="pokeName")
                    button(type="button").c-form__button.col-2.btn.btn-primary(id="searchBtn") Search!
            .col-md-2.col-sm-1
    .l-hero__result.container
        .row
            .col-lg-2.col-md-1.col-0
            .l-hero__wrapper.col-lg-8.col-md-10.col-12
                table#table1.c-table.table.table-hover.table-fixed
                    thead.thead-dark
                        tr#row1
                            th Pokemon's name
                            th Pokemon's photo
                            th Pokemon's HP
                            th Pokemon's type
                    tbody
                        tr#2.c-table__row
                            td.pokemon_name
                            td.pokemon_photo: img(src="")
                            td.pokemon_point
                            td.pokemon_type
            .col-lg-2.col-md-1.col-0